#cloud-config
avx-controller:
  avx-controller-version: ${controller_version}
  environment: ${environment}
  extra-bootstrap-args:
    image-registry: registry-release.${environment}.sre.aviatrix.com
    image-registry-auth: ${registry_auth_token}
